.DS_Store
Package.resolved
/.build
/Packages
Tests/IgniteTesting/TestWebsitePackage/Build
Tests/IgniteTesting/TestWebsitePackage/Content/*.md
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
