.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    color: #f8f8f2;
    background: #202025;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', Courier, monospace;
    font-size: 1.1em;
    line-height: 1.5;
}

.hljs-comment,
.hljs-quote {
    color: slategray;
    font-style: italic;
}

.hljs-keyword {
    color: #F2248C;
    font-weight: bold;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #FC5661;
}

.hljs-number,
.hljs-literal {
    color: #ae81ff;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #66DAFF;
}

.hljs-built_in {
    color: #E0B8FF;
}

.hljs-function {
    color: #54dcfc;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst,
.hljs-class .hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #f8f8f2;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}
